body {
    display: flex;
    flex-direction: column;
	margin: 0;
	padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #ffdab9;
    align-items: center;
    color: #555555;
	padding: 1 em;
}

header img {
    max-width: 100pt;
    max-height: 100pt;
    width: auto;
    height: auto;
}

header nav {
    display: flex;
    gap: 20px;
}

header a {
	color: #555555;
	text-decoration: none;
}


main {
    background-color: #faebd7;
}

article {
	
}

footer {
    background-color: #ffdab9;
    color: #555555;
}

h1 {
    font-size: 20pt;
    text-transform: uppercase;
    text-align: center;
}

img {
	display: flex;
	justify-content: center;
    max-width: 200pt;
    max-height: 200pt;
    width: auto;
    height: auto;
}